

.oneaboveall{
   width: 700px;
   height: 100%;
   margin: auto;
   margin-top: 0px;
   background-color: white;
}

.form{
   background: white;
   width: 550px;
   margin: auto;
   font-size: 25px;
   font-weight: bold;
   
}

.input{
   width: 200px;
   height: 25px;
   font-size: 17px;
   font-weight: bold;
   margin: auto;
}

.submit{
   margin-left: 195px;
   padding: 12px 30px;
   font-size: 25px;
   background-color: #424952;
   color: white;
}
